
	<div>
		<div class="row">
			<div
				class="col-md-6 offset-md-2 animate__animated animate__backInRight"
				style="padding: 15px; padding-left: 40px; padding-right: 40px; ">
				<form ng-submit="submitForm()"
					style="text-align: left; width: 100%;">
					<div class="row">
						<center>
							<h4 class="nhan" style="color: #5d5d5d;">
								<b>ĐỔI MẬT KHẨU</b>
							</h4>
							<div style="color:red;" ng-bind="errorMessage"></div>
                    </center>
						</center>
						<div class="mb-3">
							<input type="password" class="form-control ip" ng-model="matKhau"
								aria-describedby="helpId" placeholder="Mật khẩu cũ" required>
						</div>

						<div class="mb-3">
							<input type="password" class="form-control ip"
								ng-model="matKhauMoi" aria-describedby="helpId"
								placeholder="Mật khẩu mới" required>
						</div>

						<div class="mb-3">
							<input type="password" class="form-control ip"
								ng-model="matKhauXacNhan" aria-describedby="helpId"
								placeholder="Mật khẩu xác nhận" required>
						</div>

					</div>
					<br>
					<center>
						<button type="submit" class="btn-blue"
							style="background-color: #007ACC; width: 100%;">Xác nhận</button>
					</center>
					<br> 
				</form>
			</div>
		</div>

	</div>

